<div class="profile-container">
  <div
    nz-col
    nzFlex="auto"
    class="content">
    <h1>User Profile</h1>
    <p><strong>Name: </strong>{{ user?.name }}</p>
    <p><strong>Email: </strong>{{ user?.email }}</p>

    <br />

    <p><b>To SCP your data, enter the following in the terminal:</b></p>
    <p><i>For a file:</i></p>
    <p>scp [local file] {{ this.scpUsername }}@{{ this.host_ip}}:/home/users/{{ this.scpUsername }}/[project name]</p>
    <br />
    <p><i>For a folder/directory:</i></p>
    <p>scp -r [local directory] {{ this.scpUsername }}@{{ this.host_ip}}:/home/users/{{ this.scpUsername }}/[project name]</p>
    <br />

    <p><b>Use the below credentials to SCP your raw data.</b></p>
    <p><strong>Username: </strong>{{ this.scpUsername }}</p>
    <p>
      <strong>Password: </strong>
      <span *ngIf="!showPassword">********</span>
      <span *ngIf="showPassword">{{ this.scpPassword }}</span>
      <button (click)="togglePasswordVisibility()">{{ showPassword ? "Hide" : "Show" }}</button>
      <!--      <button (click)="regeneratePassword()">Regenerate Password</button>-->
    </p>
  </div>
</div>
