<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->

<div
  class="about-page-container"
  nz-row
  nzJustify="space-around"
  nzAlign="middle">
  <div
    nz-col
    nzFlex="auto"
    class="content">
    <h1 class="about-title">About ADMAP</h1>

    <p>
      The Alzheimer's Disease Multimodal Atlasing Project (ADMAP) is a collaborative initiative at the UCI Center for
      Neural Circuit Mapping. It aims to advance research on Alzheimer's disease by providing a platform for researchers
      to upload, explore, and download datasets.
    </p>

    <h2 class="content-title">Key Features</h2>
    <ul class="text-content">
      <li>
        Comprehensively characterize brain circuits susceptible to Alzheimer's disease type pathology and/or
        neurodegeneration in mouse models of Alzheimer's disease (AD).
      </li>
      <li>
        Share data on the cellular connectome in the aging and AD brain in a common reference brain cell atlas that
        integrates both molecular and anatomical annotations.
      </li>
      <li>
        Complement and extend research on vulnerable cell types to include the mapping of connectivity changes between
        cells in aging and AD and provide a greater understanding of the mechanisms underlying resilience and
        vulnerability in AD.
      </li>
    </ul>
    <h2 class="learn-more-title">Learn More</h2>
    <div class="learn-more-section">
      <p>
        To learn more, please visit <a href="http://texera.io">texera.io</a>. The
        <a href="https://github.com/chenlica/ADMAP">source code</a> of the platform is available on GitHub.
      </p>
    </div>
    <ng-container *ngIf="(isLogin$ | async) === false as isLogin">
      <texera-local-login
        *ngIf="localLogin"
        class="login-container"
        nz-col
        nzFlex="300px">
      </texera-local-login>
    </ng-container>
  </div>
</div>
