<div class="section-container subsection-grid-container">
  <nz-card class="section-title">
    <h2 class="page-title">Metadata</h2>
    <div class="management-panel">
      <nz-button-group class="utility-button-group">
        <button
          (click)="onClickOpenMetadataAddComponent()"
          nz-button
          nz-tooltip="Create Metadata"
          title="Create Metadata"
          nzTooltipPlacement="bottom">
          <i
            nz-icon
            nzTheme="outline"
            nzType="file-add"></i>
        </button>
      </nz-button-group>
    </div>
  </nz-card>
  <texera-metadata-browser></texera-metadata-browser>
</div>
